* {
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.modal__cross {
    font-size: 20px;
    align-self: end;
    transition: 0.5s;
    padding: 2px;
    border-radius: 10px;
    margin: 0;
}

.modal__cross:hover {
    background-color: rgb(80, 76, 76);
    transition: 0.5s;
    cursor: pointer;
}

.boardWrapper {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.dragBtn {
    align-self: flex-start;
    border-radius: 15px;
    border-color: lightgreen;
    cursor: pointer;
    font-size: 8px;
    width: 52px;
    height: 50px;
    padding: 0;
}

.dragBtn:hover {
    font-size: 9px;
    transition: 0.5s;
}

.title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
}

.board {
    min-width: 250px;
    max-width: 500px;
    min-height: 400px;
    max-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid lightgreen;
    padding: 20px 10px;
    border-radius: 15px;
    margin: 10px;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.list {
    width: 90%;
    margin: 0;
    margin-top: 2px;
    counter-reset: li;
    list-style: none;
    background:#E8E8E8;
    padding: 10px;
    border-radius: 15px;
}

.list li {
    position: relative;
    margin: 0 0 10px 2em;
    padding: 4px 8px;
    border-top: 2px solid #787A77;
    transition: .3s linear;
}

.list li:last-child {
    margin-bottom: 0;
}

.list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    box-sizing: border-box;
    margin-right: 8px;
    padding: 4px;
    border-top: 2px solid #787A77;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    background: #787A77;
    color: white;
    font-weight: bold;
    text-align: center;
    transition: .3s linear;
}

.list li:hover {
    border-top: 2px solid #389F70;
    cursor: grab;
    transition: 0.5s;
}

.list li:hover:before {
    border: 2px solid #389F70;
    background: #98EABA;
    transition: 0.5s;
}

.list__addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px 0;
    border: 1px solid lightgreen;
    border-radius: 15px;
    transition: 0.5s;
}

.list__addBtn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 1px solid green;
    background-color: green;
    transition: 0.5s;
    cursor: pointer;
}

.input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    transition: 0.3s border-color;
}

.input:hover {
    border: 1px solid #aaa;
}

.modal__delBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    border: 1px solid rgb(137, 6, 6);
    border-radius: 15px;
    transition: 0.5s;
}

.modal__delBtn:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(248, 4, 4);
    background-color: rgb(217, 36, 3);
    transition: 0.5s;
    cursor: pointer;
}

:root {
    --scrollbarBg: rgb(16, 16, 16);
    --scrollbarThumb: rgba(92, 91, 91, 0.8);
    --scrollbarWidth: 12px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

.board > div > div:last-child {
    scroll-snap-align: end;
}
  
.board::-webkit-scrollbar {
    width: var(--scrollbarWidth);
}
  
.board::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
    margin: 15px 0;
}
  
.board::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}